<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.daily.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>HI:)</p>
Welcome to the daily meeting!
Tell us :
<ul>
    <li>What do you do yesterday at work?</li>
    <li>What will you do today and what effect do you want to achieve at the end of the day?</li>
    <li>Do you have any problem with the task you are doing?</li>
</ul>
Please use option "Replay all" to answer at the questions.
<br/>
<br/>
Best Regards<br/><br/>
JAgile Team
</body>
</html>
