<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="Feedback">Feedback</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <!--<p th:text="User login">-->
            <!--sended feedback:-->
        <!--</p>-->
        <!--<p th:text="Text sended by user">-->
               <!--content:-->
        <!--</p>-->
		<b>
			<span th:text="${feedbackText}">
               text:
        	</span>
        </b>
		<br/>
        <p>
            <a th:href="@{|${baseUrl}|}">
            <span th:text="${baseUrl}"></span></a>
        </p>
        <p>
            <!--<span th:text="Thanks in advance">Regards, </span>-->
            <br/>
            <em th:text="#{email.signature}">OUR team</em>
        </p>
    </body>
</html>
