<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.invitation.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.invitation.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.invitation.text1(${sender.firstName != null} ? ${sender.firstName} : ${sender.login})}">
            sent you a kudo Card. Please click on the URL below to see it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/kudoCard|}"
               th:text="|${user.firstName}|">Kudo</a>
        </p>
        <p>
            <span th:text="#{email.invitation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JAgile Team.</em>
        </p>
    </body>
</html>
