<div>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" ><a ui-sref="profile"
			data-target="#personalAccountTab" aria-controls="personalAccountTab"
			role="tab" translate="settings.personalaccount">Profile</a></li>
		<li role="presentation" ><a ui-sref="settings"
			data-target="#settingsAccountTab" aria-controls="settingsAccountTab"
			role="tab" translate="settings.settingsaccount" >Settings</a></li>
		<li role="presentation" ng-if="isAdmin" class="active"><a ui-sref="companySettings" data-target="#companyAccountTab"
			aria-controls="companyAccountTab" role="tab"  translate="settings.companyaccount">Company</a></li>
	</ul>
	<div class="tab-content">

		<div role="tabpanel" class="tab-pane  active" id="companyAccountTab">
			<div class="row">

				<div class="col-xs-5 col-xs-offset-1">

					<h2 translate="settings.title2">Company info</h2>


					<form name="companyForm" role="form" novalidate ng-submit="saveCompany()"
						show-validation>

						<div class="form-group">
							<label translate="settings.companyForm.companyName" style="display:inline-block;">Company</label><h5 style="display:inline-block;color:#DC143C">&nbsp *</h5>
							
							<input type="text" class="form-control" name="companyName"
								placeholder="{{'settings.companyForm.companyName.placeholder' | translate}}"
								ng-model="settingsCompanyAccount.companyName" ng-change= "change()" ng-minlength=1
								ng-maxlength=50 required>
							<div
								ng-if="companyForm.companyName.$dirty && companyForm.companyName.$invalid">
								<p class="help-block"
									ng-if="companyForm.companyName.$error.required"
									translate="settings.messages.validate.companyName.required">
									Company name is required</p>
								<p class="help-block"
									ng-if="companyForm.companyName.$error.minlength"
									translate="settings.messages.validate.companyName.minlength">
									Company name is required to be at least 1 character</p>
								<p class="help-block"
									ng-if="companyForm.companyName.$error.maxlength"
									translate="settings.messages.validate.companyName.maxlength">
									Company name cannot be longer than 50 characters</p>
							</div>
						</div>

						<div class="form-group">
							<label translate="settings.companyForm.companyWebsite">Website</label>
							<input type="text" class="form-control" name="companyWebsite"
								placeholder="{{'settings.companyForm.companyWebsite.placeholder' | translate}}"
								ng-model="settingsCompanyAccount.companyWebsite" ng-change= "change()"
								ng-maxlength=50>
							<div
								ng-if="companyForm.companyWebsite.$dirty && companyForm.companyWebsite.$invalid">
								<p class="help-block"
									ng-if="companyForm.companyWebsite.$error.maxlength"
									translate="settings.messages.validate.companyWebsite.maxlength">
									Website cannot be longer than 50 characters</p>
							</div>
						</div>

						<div class="form-group">
							<label translate="settings.companyForm.companyPhone">Phone</label>
							<input type="text" class="form-control" name="companyPhone"
								placeholder="{{'settings.companyForm.companyPhone.placeholder' | translate}}"
								ng-model="settingsCompanyAccount.companyPhone" ng-change= "change()"
								ng-maxlength=20>
							<div
								ng-if="companyForm.companyPhone.$dirty && companyForm.companyPhone.$invalid">
								<p class="help-block"
									ng-if="companyForm.companyPhone.$error.maxlength"
									translate="settings.messages.validate.companyPhone.maxlength">
									Company phone cannot be longer than 20 characters</p>
							</div>
						</div>
						

						<div class="form-group">
						<label translate="settings.companyForm.companyContactPerson" style="display:inline-block;">Contact person</label><h5 style="display:inline-block;color:#DC143C">&nbsp *</h5>
						
							<select class = "form-control" name="companyContactPerson" ng-model="settingsCompanyAccount.companyContactPerson" ng-change= "change()"
							ng-options="person.id as person.identifier for person in users" required>
							</select>
						</div>



						<div class="form-group">
						<label translate="settings.companyForm.companyCountry" style="display:inline-block;">Country</label><h5 style="display:inline-block;color:#DC143C">&nbsp *</h5>
							<select class = "form-control" name="companyCountry" ng-model="settingsCompanyAccount.companyCountry" ng-change= "change()"
							ng-options="country.id as country.name for country in countries" required>							
							</select>
						</div>
						
						<div>
						<h5 style="display:inline-block;color:#DC143C">*</h5> &#x2013; <h5 style="display:inline-block;" translate="settings.required" ></h5>						
						</div>
						
						<button type="submit" ng-disabled="companyForm.$invalid"
							class="btn btn-default"
							translate="settings.companyForm.companySaveButton">Save</button>
							
							


					</form>

				</div>


				<div class="col-xs-5">


					<h2 translate="settings.title3" id="billingInfoWell ">Billing
						information</h2><br>



					<div class="well well-lg" id="billingInfoWell"  >
					
						<span data-ng-bind="wellBillingInfo.billingInfoCompany"></span><br>
						<span data-ng-bind="wellBillingInfo.billingInfoAddress"></span><br>
						<span data-ng-bind="wellBillingInfo.billingInfoCity"></span><br>
						<span data-ng-bind="wellBillingInfo.billingInfoPostalCode"></span><br>
						<span data-ng-bind="getChosenBillingCountry()"></span><br>							
						<span data-ng-if="wellBillingInfo.billingInfoVatIdentificationNumber">VAT no.</span> 
						<span data-ng-if="wellBillingInfo.billingInfoVatIdentificationNumber" data-ng-bind="getChosenBillingCountryCode()"></span>
						<span data-ng-bind="wellBillingInfo.billingInfoVatIdentificationNumber"></span><br>
						<span data-ng-bind="getChosenCardType()"></span>
						<span data-ng-bind="wellBillingInfo.billingInfoCardNumber"></span><br>				
						
						<p class="text-right">
							<a class="cursorpointer" id="changeBillingInfo" ui-sref="billingInfo" translate="settings.changebillinginfo">Change your billing info</a>
						</p>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
