<div>
    <h2>Tasks</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <button class="btn btn-default ng-scope" ng-click="saveAsCSV(vm.tasksOfCurrentLoggedUser)">Save as CSV</button>
    <button class="btn btn-default ng-scope" ng-click="saveAsXlsx(vm.tasksOfCurrentLoggedUser)">Save as XLSX</button>
    <!--<button class="btn btn-default ng-scope" ng-click="saveAsPDF(taskList)">Save as PDF</button>-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Name</span></th>
                <th><span>Description</span></th>
                <th><span>From</span></th>
                <th><span>To</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasksOfCurrentLoggedUser track by task.id">
                <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>
                    {{task.beginDate}}
                </td>
                <td>
                    {{task.endDate}}
                </td>
                <!--<td class="text-right">-->
                <!--<div class="btn-group flex-btn-group-container">-->
                <!--<button type="submit"-->
                <!--ui-sref="task-detail({id:task.id})"-->
                <!--class="btn btn-info btn-sm">-->
                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                <!--</button>-->
                <!--<button type="submit"-->
                <!--ui-sref="task.edit({id:task.id})"-->
                <!--class="btn btn-primary btn-sm">-->
                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                <!--</button>-->
                <!--<button type="submit"-->
                <!--ui-sref="task.delete({id:task.id})"-->
                <!--class="btn btn-danger btn-sm">-->
                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                <!--</button>-->
                <!--</div>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
