<div>
    <!--<h2 >Tasks</h2>-->
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <h2>Count of tasks executed by user</h2>
        <button class="btn btn-default ng-scope" ng-click="vm.saveAsCSVTask(vm.tasksCount)">Save as CSV</button>
        <button class="btn btn-default ng-scope" ng-click="vm.saveAsXlsxTask(vm.tasksCount)">Save as XLSX</button>

        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Login</span></th>
                <th><span>Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasksCount track by task.simpleUserDTO.login">
                <td>
                    {{task.simpleUserDTO.login}}
                </td>
                <td>{{task.kount}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
