<div>
    <h2 >Tasks with status REOPENED</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Task
                    </span>
                </button>
                <button class="btn btn-primary" ui-sref="task-xml-generator">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Save to xml
                    </span>
                </button>
                <button class="btn btn-primary" ng-click="vm.export()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                    Print
                </span>
                </button>
                <br/>
                <button class="btn btn-primary" ng-click="vm.saveAsCSVTask(vm.findAllByCurrentUserExecutorIdAndTaskStatusReopened)"><span class="glyphicon glyphicon-plus"></span><span>Save as CSV</span></button>
                <button class="btn btn-primary" ng-click="vm.saveAsXlsxTask(vm.findAllByCurrentUserExecutorIdAndTaskStatusReopened)"><span class="glyphicon glyphicon-plus"></span><span>Save as XLSX</span></button>
                <button class="btn btn-primary" ng-click="vm.saveAsPDF(vm.findAllByCurrentUserExecutorIdAndTaskStatusReopened)"><span class="glyphicon glyphicon-plus"></span><span>Save as PDF</span></button>

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
                    <th><span>Description</span></th>
                    <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in vm.findAllByCurrentUserExecutorIdAndTaskStatusReopened track by task.id">
                    <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>
                        {{task.executor.login}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
