<div class="table-responsive" id="exportthis">
    <h2>My  top assigne</h2>
    <table class="jh-table table table-striped">
        <thead>
        <tr>
            <th><span>Name</span></th>
            <th><span>Count</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="assigne in vm.MyTopAssigne track by assigne.userDTO.id">
            <td>{{assigne.userDTO.firstName}} </td>
            <td>{{assigne.count}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left">
            <button class="btn btn-primary" ng-click="vm.export()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>
                    Print
                </span>
            </button>
        </div>
    </div>
</div>

