<div>
    <h2>Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Task
                    </span>
                </button>
                <button class="btn btn-primary" ui-sref="task-xml-generator">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Save to xml
                    </span>
                </button>
                <button ng-click="vm.export()">Print</button>
                <button class="btn btn-default ng-scope" ng-click="vm.saveAsCSV(vm.tasksOfCurrentLoggedUser)">Save as CSV</button>
                <button class="btn btn-default ng-scope" ng-click="vm.saveAsXlsx(vm.tasksOfCurrentLoggedUser)">Save as XLSX</button>

            </div>
        </div>
    </div>
    <br/>
    <br/>
    <p>Search:<input type="text" id="query" placeholder="Type text to search" ng-model="query"/></p>
    <div class="table-responsive" id="exportthis">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
                <th><span>Description</span></th>
                <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasks  | filter:query track by task.id">
                <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>
                    {{task.executor.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="task-detail({id:task.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="task.edit({id:task.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="task.delete({id:task.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="table-responsive">
        <h2>Tasks of current logged user</h2>
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
                <th><span>Description</span></th>
                <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasksOfCurrentLoggedUser track by task.id">
                <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>
                    {{task.executor.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="task-detail({id:task.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="task.edit({id:task.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="task.delete({id:task.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h2>Count of tasks executed by user</h2>
        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Login</span></th>
                <th><span>Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasksCount track by task.simpleUserDTO.login">
                <td>
                    {{task.simpleUserDTO.login}}
                </td>
                <td>{{task.count}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h2>Count of tasks created by user</h2>
        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Login</span></th>
                <th><span>Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.countOfCreators | orderBy: 'task.count' track by task.simpleUserDTO.login ">
                <td>
                    {{task.simpleUserDTO.login}}
                </td>
                <td>{{task.count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h2>Task priority with count of occurences</h2>
        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Priority</span></th>
                <th><span>Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.priorityWithCountList  track by task.taskPriority.name">
                <td>
                    {{task.taskPriority.name}}
                </td>
                <td>{{task.count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h2>Task status with count of occurences</h2>
        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Status</span></th>
                <th><span>Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.statusWithCountList  track by task.taskStatus.name">
                <td>
                    {{task.taskStatus.name}}
                </td>
                <td>{{task.count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="table-responsive">
    <h2>Tasks started today</h2>
    <table class="jh-table table table-striped">
        <thead>
        <tr>
            <th><span data-translate="global.field.id">ID</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
            <th><span>Description</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.tasksStartToday track by task.id">
            <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>
                {{task.executor.login}}
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="task-detail({id:task.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.edit({id:task.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.delete({id:task.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <h2>Tasks which should ends today</h2>
    <table class="jh-table table table-striped">
        <thead>
        <tr>
            <th><span data-translate="global.field.id">ID</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
            <th><span>Description</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.tasksEndToday track by task.id">
            <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>
                {{task.executor.login}}
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="task-detail({id:task.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.edit({id:task.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.delete({id:task.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

