<div class="table-responsive">
    <h2>Tasks estimated</h2>
    <table class="jh-table table table-striped">
        <thead>
        <tr>
            <th><span data-translate="global.field.id">ID</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></th>
            <th><span>Description</span></th>
            <th><span data-translate="jhipsterSampleApplicationApp.task.executor">Executor</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.tasksEstimated track by task.id">
            <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>
                {{task.executor.login}}
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="task-detail({id:task.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.edit({id:task.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ui-sref="task.delete({id:task.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
