<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mytaskLabel">Create or edit a Task</h4>
    </div>
    <div>{{vm.task|json}}</div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.task.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.task.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterSampleApplicationApp.task.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.task.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"
                   for="field_overtimed">Overtimed</label>
            <input type="checkbox" class="form-control" name="overtimed" id="field_overtimed"
                   ng-model="vm.task.overtimed" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="name" id="field_description"
                   ng-model="vm.task.description"
                   required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="control-label" for="field_description">Description</label>-->
        <!--<input type="number" class="form-control" name="description" id="field_description"-->
        <!--ng-model="vm.task.description"-->
        <!--required/>-->
        <!--<div ng-show="editForm.description.$invalid">-->
        <!--<p class="help-block"-->
        <!--ng-show="editForm.description.$error.required">-->
        <!--This field is required.-->
        <!--</p>-->
        <!--<p class="help-block"-->
        <!--ng-show="editForm.description.$error.number">-->
        <!--This field should be a number.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label for="field_priority">Priority</label>
            <select class="form-control" id="field_priority" name="priority" ng-model="vm.task.taskPriority"
                    ng-options="priority as priority.name for priority in vm.taskPriorities track by priority.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.task.taskStatus"
                    ng-options="status as status.name for status in vm.taskStatuses track by status.id">
                <option value=""></option>
                <!--<option value="">&#45;&#45;Statuses&#45;&#45;</option>-->
            </select>
        </div>
        <div class="form-group">
            <label for="field_creator">Executor</label>
            <select class="form-control" id="field_creator" name="user" ng-model="vm.task.executor"
                    ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_beginDate">Begin Date</label>
            <div class="input-group">
                <input id="field_beginDate" type="text" class="form-control" name="beginDate"
                       datetime-picker="{{dateformat}}" ng-model="vm.task.beginDate"
                       is-open="vm.datePickerOpenStatus.beginDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate"
                       datetime-picker="{{dateformat}}" ng-model="vm.task.endDate"
                       is-open="vm.datePickerOpenStatus.endDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>

    <div class="form-group">
        <label class="control-label" for="field_spendedTime">Spended Time</label>
        <input type="number" step="0.1" class="form-control" name="name" id="field_spendedTime"
               ng-model="vm.task.spendedTime"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_comment">Comment</label>
        <input type="text" class="form-control" name="name" id="field_comment"
               ng-model="vm.task.comment"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_estimation">Time Estimation</label>
        <input type="number" step="0.1" class="form-control" name="field_estimation" id="field_estimation"
               ng-model="vm.task.estimation"
        />
    </div>
</form>
