<div>
    <h2><span>Task</span> {{vm.task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jhipsterSampleApplicationApp.task.name">Name</span></dt>
        <dd>
            <span>{{vm.task.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.task.description}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{vm.task.taskPriority.name}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.task.taskStatus.name}}</span>
        </dd>
        <dt><span>Begin date</span></dt>
        <dd>
            <span>{{vm.task.beginDate|date}}</span>
        </dd>
        <dt><span>End date</span></dt>
        <dd>
            <span>{{vm.task.endDate|date}}</span>
        </dd>
        <dt><span>Overtimed</span></dt>
        <dd>
            <span>{{vm.task.overtimed}}</span>
        </dd>
        <dt><span>Average estimations [H]</span></dt>
        <dd>
            <span>{{(vm.task.averageEstimation| number:2)*1}}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
            <!--<span>{{vm.task.posts}}</span>-->
            <div ng-repeat="comment in vm.task.posts">
                <span><b>{{comment.user.login}}</b></span>
                <span>{{comment.content}}</span>
            </div>
        </dd>
        <dt><span>Total spended time</span></dt>
        <dd><span>{{vm.task.totalSpendedTime}}</span></dd>
        <dt>Spended time step by step</dt>
        <dd ng-repeat="spendedTime in vm.task.timeSpendedOnTaskByUser">
            <span>{{spendedTime.user.login}} <br/>  {{spendedTime.timeEstimatedByUser}} h</span><br/>
        </dd>

        <!--<div class="form-group">-->
        <!--<label  for="field_priority">Priority</label>-->
        <!--<select class="form-control" id="field_priority" name="priority" ng-model="vm.task.taskPriority" ng-options="priority as priority.name for priority in vm.taskPriorities track by priority.id">-->
        <!--<option value=""></option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label  for="field_status">Status</label>-->
        <!--<select class="form-control" id="field_status" name="status" ng-model="vm.task.taskStatus" ng-options="status as status.name for status in vm.taskStatuses track by status.id">-->
        <!--<option value=""></option>-->
        <!--</select>-->
        <!--</div>-->

        <dt><span>Executor</span></dt>
        <dd>
            {{vm.task.executor.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="task-detail.edit({id:vm.task.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
<!--<div class="row">-->
<!--{{vm.taskEstimation|json}}-->
<!--<div class="col-md-12">-->
<!--<form name="form" role="form" novalidate ng-submit="vm.save()"-->
<!--show-validation>-->
<!--<input type="number" step="0.1" ng-model="vm.taskEstimation.timeEstimatedByUser"-->
<!--placeholder="{{vm.taskEstimation.timeEstimatedByUser}}">-->
<!--</form>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<div class="row">-->
<!--<div class="col-md-1">-->
<!--<button type="submit" ng-disabled="form.$invalid"-->
<!--class="btn btn-default" ng-click="vm.save()">Save-->
<!--</button>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="row">
    {{vm.taskEstimation|json}}
    <div class="col-md-12">
        <form name="form" role="form" novalidate ng-submit="vm.sendEstimation()"
              show-validation>
            <input type="number" step="0.1" ng-model="taskEstimation.timeEstimatedByUser">
            <!--placeholder="{{vm.taskEstimation.timeEstimatedByUser}}">-->
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-1">
                <button type="submit" ng-disabled="form.$invalid"
                        class="btn btn-default" ng-click="vm.sendEstimation()">Save
                </button>

            </div>
        </div>
    </div>
</div>

