<div class="table-responsive" id="exportthis">
    <h2>Task statuses with count of occurences</h2>
    <table class="jh-table table table-striped">
        <thead>
        <tr>

            <th><span>Status</span></th>
            <th><span>Count</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.statusWithCountList  track by task.taskStatus.name">
            <td>
                {{task.taskStatus.name}}
            </td>
            <td>{{task.count}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left">
            <button class="btn btn-primary" ng-click="vm.export()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>
                    Print
                </span>
            </button>
        </div>
    </div>
</div>
