<div>
    <!--<h2 >Tasks</h2>-->
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <h2>Users with their skills</h2>
        <button class="btn btn-primary" ng-click="vm.export()">
            <span class="glyphicon glyphicon-plus"></span>
            <span>
                    Print
                </span>
        </button>
        <!--<button class="btn btn-default ng-scope" ng-click="vm.saveAsCSV(vm.usersWithSkills)">Save as CSV</button>-->
        <!--<button class="btn btn-default ng-scope" ng-click="vm.saveAsXlsx(vm.usersWithSkills)">Save as XLSX</button>-->

        <!--<p>{{vm.usersWithSkills | json}}</p>-->
        <table class="jh-table table table-striped" id="exportthis">
            <thead>
            <tr>

                <th><span>Login</span></th>
                <th><span>FirstName</span></th>
                <th><span>Skills</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.usersWithSkills track by task.simpleUserDTO.login">
                <td>
                    {{task.simpleUserDTO.login}}
                </td>
                <td>
                    {{task.simpleUserDTO.firstName}}
                </td>
                <td ng-repeat="t in task.skill">
                    <li>{{t.name}}</li>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
