
	<!-- MODAL CONTENT -->
	
		<div class="modal-content" >
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="close()">&times;</button>
						<h4 class="modal-title" translate="feedback.title">What do you want to tell us?</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<form name="feedbackForm" role="form" novalidate ng-submit="send()" show-validation>
						<div class="form-group">
							
							<textarea id="feedbackInput" rows=7 type="text" class="form-control"
								ng-model="feedbackText" ng-minlength=1 ng-maxlength=4000  name="feed" required></textarea>
									<div ng-if="feedbackForm.feed.$dirty && feedbackForm.feed.$invalid">
										<p class="help-block"
											ng-if="feedbackForm.feed.$error.required"
											translate="feedback.validation.required">
											Feedback message is required</p>
										<p class="help-block"
											ng-if="feedbackForm.feed.$error.minlength"
											translate="feedback.validation.minlength">
											Feedback message is required to be at least 1  character</p>
										<p class="help-block"
											ng-if="feedbackForm.feed.$error.maxlength"
											translate="feedback.validation.maxlength">
											Feedback message cannot be longer than 4000 characters</p>
									</div>
								 
						</div>
					</form>
						<div class="pull-right">
							{{ maxlengthtest() }}  / 4000
						</div>
					</div>
				</div>
				
				</div>
				<div class="modal-footer">
						<button type="submit" ng-disabled="feedbackForm.$invalid"
							class="btn btn-default pull-right" 
							data-dismiss="modal" ng-click="send(feedbackText)" translate="feedback.send" analytics-on analytics-event="Send feedback" analytics-category="Feedback" analytics-label="Send feedback">Send</button>
					
				</div>
			</div>