<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span>JAGILE</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>

                <li ng-class="{active: vm.$state.includes('task')}" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="task-menu">
                        <span>
                            <span class="glyphicon glyphicon-oil"></span>
                            <span class="hidden-sm">
                                Tasks
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>

                        <li ui-sref-active="active">
                            <a ui-sref="task" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>All tasks</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksOfLoggedUser" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksWhichShouldStartToday" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks which should start today</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksWhichShouldEndToday" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks which should end today</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksToEstimate" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks to estimate</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksEstimated" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks estimated</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksOvertimed" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks overtimed</span>
                            </a>
                        </li>

                        <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="label" ng-click="vm.collapseNavbar()">-->
                        <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
                        <!--<span data-translate="global.menu.entities.label">Label</span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="skill" ng-click="vm.collapseNavbar()">-->
                        <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
                        <!--<span>Skill</span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="operation" ng-click="vm.collapseNavbar()">-->
                        <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
                        <!--<span data-translate="global.menu.entities.operation">Operation</span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>

                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <!--<li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown-->
                <!--class="dropdown pointer">-->
                <!--<a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">-->
                <!--<span>-->
                <!--<span class="glyphicon glyphicon-th-list"></span>-->
                <!--<span class="hidden-sm" data-translate="global.menu.entities.main">-->
                <!--Entities-->
                <!--</span>-->
                <!--<b class="caret"></b>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu" uib-dropdown-menu>-->
                <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="bank-account" ng-click="vm.collapseNavbar()">-->
                <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
                <!--<span data-translate="global.menu.entities.bankAccount">Bank Account</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="task" ng-click="vm.collapseNavbar()">-->
                <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
                <!--<span data-translate="global.menu.entities.task">Task</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li ui-sref-active="active">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="skill" ng-click="vm.collapseNavbar()">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-asterisk"></span>&nbsp;&ndash;&gt;-->
                <!--&lt;!&ndash;<span data-translate="global.menu.entities.skill">Skill</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ui-sref-active="active">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="label" ng-click="vm.collapseNavbar()">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-asterisk"></span>&nbsp;&ndash;&gt;-->
                <!--&lt;!&ndash;<span data-translate="global.menu.entities.label">Label</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->

                <!--&lt;!&ndash;<li ui-sref-active="active">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="operation" ng-click="vm.collapseNavbar()">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-asterisk"></span>&nbsp;&ndash;&gt;-->
                <!--&lt;!&ndash;<span data-translate="global.menu.entities.operation">Operation</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
                <!--</ul>-->
                <!--</li>-->
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu6">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Skills</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="skill" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Skill</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="usersWithSkills"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Users With Skills</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu7">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Task statistics</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="task-executor" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Count of tasks assigned to users</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="task-creator" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Count of tasks created by users</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="myTopAssigne" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>My top assigne</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksPrioritiesWithCount" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Task priority with count of occurences</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tasksStatusesWithCount" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Task statuses with count of occurences</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu5">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Executor By Priority</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserExecutorAndPriorityHigh"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Executor And Priority High</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserExecutorAndPriorityLow"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Executor And Priority Low</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserExecutorAndPriorityNormal"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Executor And Priority Normal</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu4">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Creator By Priority</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserCreatorAndPriorityHigh"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Creator And Priority High</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserCreatorAndPriorityLow"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Creator And Priority Low</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllTasksOfCurrentLoggedUserCreatorAndPriorityNormal"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Tasks Of Logged User Creator And Priority Normal</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu3">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Creator By Status</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCreatorIdAndTaskStatusCreated" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Created</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCreatorIdAndTaskStatusInprogress" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Inprogress</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCreatorIdAndTaskStatusEnd" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Closed</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCreatorIdAndTaskStatusReopened" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Reopened</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCreatorIdAndTaskStatusOpened" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Opened</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu2">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Executor By Status</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCurrentUserExecutorIdAndTaskStatusCreated"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Created</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCurrentUserExecutorIdAndTaskStatusInprogress"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Inprogress</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCurrentUserExecutorIdAndTaskStatusEnd" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Closed</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCurrentUserExecutorIdAndTaskStatusReopened"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Reopened</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="findAllByCurrentUserExecutorIdAndTaskStatusOpened"
                               ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user">Opened</span>&nbsp;
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span data-translate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer"
                    ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language |
                                findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<button type="button" class="btn btn-default btn-xs pull-right"
        ng-click="openFeedbackModal()" ng-show="isAuthenticated()"
        translate="global.menu.feedback" analytics-on
        analytics-event="Open feedback modal" analytics-category="Feedback"
        analytics-label="Open feedback modal">Feedback
</button>
